@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

#map {
    height: 90vh;
    width: 100%;
    position: relative;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 15px;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

#controls label {
    display: block;
    margin: 5px 0;
}

#controls select,
#controls input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#controls select:focus,
#controls input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}
